@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
    --primary-bg-color: #FFA07A; /* Lighter salmon color */
    --secondary-bg-color: #FF6347; /* Tomato color */
    --font-color: #333;
    --font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #EBC1B3; /* Increased brightness */
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #ebcccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container header {
    text-align: center;
    margin-bottom: 20px;
}

.container header h1 {
    font-size: 28px;
    color: var(--font-color);
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form p {
    margin-bottom: 15px;
}

.container form label {
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: 5px;
}

.container form input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.container form button {
    background: var(--secondary-bg-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.container form button:hover {
    background: #e55347;
}

.container .toggle-link {
    margin-top: 20px;
    text-align: center;
}

.container .toggle-link a {
    color: var(--secondary-bg-color);
    text-decoration: none;
    font-weight: 600;
}

.container .toggle-link a:hover {
    text-decoration: underline;
}
